*{
    padding: 0%;
    margin: 0%;
}

.container{
    height: 50vh;
    /* width: 400px; */
    padding-top: 50px;
    border-radius: 5px solid red;
    background-color: cadetblue;
    padding-bottom: 50px;
    
}

h2{
    text-align: center;
    margin-top: 20px;
    padding-bottom: 10px;
}

input{
    display: flex;
    justify-content: center;
    margin: auto;
    
}

.name{
    font-size: 22px;
    padding: 3px 3px;
    border-radius: 5px;
    margin-bottom: 7px;
}
.email{
    font-size: 22px;
    padding: 3px 3px;
    border-radius: 5px;
    margin-bottom: 40px;
}


.name_lab{
    font-size: 20px;
    margin-left: 300px;

}
.email_lab{
    font-size: 20px;
    margin-left: 300px;
}